/*bckground position*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div
{
    min-height: 100vh;
    color: white;
    /* width: 25%; */
    border: 2px solid red;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
}
.big-img
{
    background: url("../bigger.jpeg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.small-img
{
    background: url("../smaller.jpeg");
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-position: left;
    background-position: right;
    background-position: top;
    background-position: bottom;
    background-position: 40%, 60%;
    background-position: 100%, 100%;
    background-position: 0%, 0%;
    background-attachment: fixed;
}
.folder-img
{
    background: url("../images/folderImage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}