
  body
  {
    font-family: monospace;
    text-align: right;
  }
  .main-heading
  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  .sub-heading
  {
      text-align: left;
  }
  .one
  {
    text-align: justify;
  }
  .two
  {
    text-align: justify;
    text-indent: 6rem;
  }