/*HSL(Hue, Saturation, Lightness)*/
/* Hue- degree color wheel 0 to 360 */
/*0% to 100% (full color)*/
/* 0% black, 100% white*/
/* HEX values #GGRRBB

123456789A-10,B-11,C-12,D-13,E-14,F-15


*/

#first
{
    color: #FF0000;
    background: #000;
    display: inline;
}
#second
{
    color: #0000FF;
    background: #f15025;
}
#third
{
    color: #fff;
    background: #00fF00;
}
#fourth
{
    color: #f234Ad;
    background: #222;
}
#fifth
{
    color: black;
    background: hsla(209, 49%, 56%, 0.5);
}